{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SParkee - Parking Map</title>

  <link rel="icon" type="image/ico" href='{% static "img/anu.ico" %}'>
  <!-- Custom fonts for this template-->
  <link href='{% static "vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href='{% static "css/sb-admin-2.css" %}' rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/" id="logo_placeholder">
        <div class="fas" id="logo_big">
          <!-- <i class="fas fa-laugh-wink"></i> -->
          <img src='{% static "img/anu_logo.png" %}'  width="140px">
        </div>
        <div class="fas" id="logo_small" style="display: none">
          <img src='{% static "img/anu_text.png" %}'  width="75px">
          
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Parking Map -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-map-marked-alt"></i>
          <span>Parking Map</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->

          <div class="d-none d-sm-inline-block form-inline mr-auto  my-md-0 ">
            <div class="input-group">
              <h1 class="h3 mb-0 text-gray-800">Parking Map</h1>
            </div>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-stream fa-sm text-white-50"></i> Show Debug</a> -->
          </div>

          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-400 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->


            <!-- <li class="nav-item dropdown no-arrow mx-1"> -->
              <!-- Counter - Alerts -->
<!--               <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
 -->              <!-- Dropdown - Alerts -->
<!--               <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
 -->
             <!-- </li> -->

            <!-- Nav Item - Messages -->
            <!-- <li class="nav-item dropdown no-arrow mx-1"> -->
              <!-- Counter - Messages -->
<!--               <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger badge-counter">7</span>
              </a>
 -->

              <!-- Dropdown - Messages -->
<!--               <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
 -->
            <!-- </li> -->

            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="date_time">-</span>
                
              </a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Public</span>
                <img class="img-profile rounded-circle" src='{% static "img/user-64x64.png" %}'>
              </a>
              <!-- Dropdown - User Information -->
<!-- 
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
 -->              
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
<!--           <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Parking Map</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-stream fa-sm text-white-50"></i> Show Debug</a>
          </div>
 -->
          <!-- Content Row -->
          <div class="row" id="row_map">
            <div id="mapid"></div>
          </div>

          <div class="box">
            <div class="col-xs-3 col-sm-offset-4">
                <div class="card border-left-success shadow h-60 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Parking Slots</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="parking_slots">-</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-parking fa-3x text-gray-400"></i>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div style="margin: 10px">
            </div>

            <div class="col-xs-3 col-sm-offset-4">
                <div class="card border-left-success shadow h-60 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1" >Participants</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="participants">-</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-user-tag fa-3x text-gray-400"></i>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
<!-- 
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy;2020  ANU Computer Science & Information Technology</span>
          </div>
        </div>
      </footer>
 -->
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  
  <!-- Websocket -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  

  <!-- Bootstrap core JavaScript-->
  <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Core plugin JavaScript-->
  <script src='{% static "vendor/jquery-easing/jquery.easing.min.js" %}'></script>

  <!-- Custom scripts for all pages-->
  <script src='{% static "js/sb-admin-2.min.js" %}'></script>

  <!-- Page level plugins -->
  <!-- <script src='{% static "vendor/chart.js/Chart.min.js" %}'></script> -->

  <!-- Page level custom scripts -->
  <!-- <script src='{% static "js/demo/chart-area-demo.js" %}'></script> -->
  <!-- <script src='{% static "js/demo/chart-pie-demo.js" %}'></script> -->

</body>

<script>

var DEFAULT_POSITION_LAT = -35.275293;
var DEFAULT_POSITION_LON = 149.119132;

var mymap = null;
// var greenIcon = new L.Icon({
//   iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
//   shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
//   iconSize: [30, 41],
//   iconAnchor: [12, 41],
//   popupAnchor: [1, -34],
//   shadowSize: [41, 41]
// });


var confirmed_available = new L.Icon({
  iconUrl: '/static/img/confirmed_available.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [30, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var confirmed_unavailable = new L.Icon({
  iconUrl: '/static/img/confirmed_unavailable.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [30, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var confirmed_available = new L.Icon({
  iconUrl: '/static/img/confirmed_available.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [30, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var unconfirmed_minus_2 = new L.Icon({
  iconUrl: '/static/img/unconfirmed_minus_2.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [30, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var unconfirmed_minus_1 = new L.Icon({
  iconUrl: '/static/img/unconfirmed_minus_1.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [30, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var unconfirmed_0 = new L.Icon({
  iconUrl: '/static/img/unconfirmed_0.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [30, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var unconfirmed_plus_1 = new L.Icon({
  iconUrl: '/static/img/unconfirmed_plus_1.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [30, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var unconfirmed_plus_2 = new L.Icon({
  iconUrl: '/static/img/unconfirmed_plus_2.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [30, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});


function show_sample() {

  mymap = L.map('mapid').setView([DEFAULT_POSITION_LAT, DEFAULT_POSITION_LON], 16);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 23,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
      '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11'
  }).addTo(mymap);

  // L.marker([DEFAULT_POSITION_LAT, DEFAULT_POSITION_LON], {icon: greenIcon} ).addTo(mymap).openPopup();
  // var circle = L.circle([DEFAULT_POSITION_LAT, DEFAULT_POSITION_LON], {
  //   color: '#C6C3DA',
  //   fillColor: 'blue',
  //   fillOpacity: 0.0,
  //   radius: 100
  // }).addTo(mymap);
  // L.marker([51.5, -0.09]).addTo(mymap)
  //   .bindPopup(card).openPopup();

  // L.circle([51.508, -0.11], 500, {
  //   color: 'red',
  //   fillColor: '#f03',
  //   fillOpacity: 0.5
  // }).addTo(mymap).bindPopup("I am a circle.");

  // L.polygon([
  //   [51.509, -0.08],
  //   [51.503, -0.06],
  //   [51.51, -0.047]
  // ]).addTo(mymap).bindPopup("I am a polygon.");


  var popup = L.popup();

  function onMapClick(e) {
    popup
      .setLatLng(e.latlng)
      .setContent("You clicked the map at " + e.latlng.toString())
      .openOn(mymap);
  }

  mymap.on('click', onMapClick);

}

</script>

<script>

function uuid() {
    function randomDigit() {
        if (crypto && crypto.getRandomValues) {
            var rands = new Uint8Array(1);
            crypto.getRandomValues(rands);
            return (rands[0] % 16).toString(16);
        } else {
            return ((Math.random() * 16) | 0).toString(16);
        }
    }
    var crypto = window.crypto || window.msCrypto;
    return 'xxxxxxxx-xxxx-4xxx-8xxx-xxxxxxxxxxxx'.replace(/x/g, randomDigit);
}

var LOCAL_UUID = '';

function localUUID() {
  var device_uuid = localStorage.getItem("device_uuid");  
  if(device_uuid == null || typeof(device_uuid) === undefined) {
    device_uuid = uuid();
    localStorage.setItem('device_uuid', device_uuid);
  }
  LOCAL_UUID = device_uuid;
}

$( document ).ready(function() {
  localUUID();
  resize_map_panel();
  show_sample();
  // subscribe_to_sparkee();
  // download_parking_slots_coordinates();
  download_summary();
  start_control_functions();
});

$( window ).resize(function() {
  resize_map_panel();
});

function start_control_functions() {
  $("#sidebarToggle").click(function() {
    if($("#logo_placeholder").attr("toggle")) {
      $("#logo_big").removeAttr("style");
      $("#logo_small").css("display", "none");
      $("#logo_placeholder").removeAttr("toggle");
    }
    else {
      $("#logo_big").css("display", "none");
      $("#logo_small").removeAttr("style");
      $("#logo_placeholder").attr("toggle", "small");
    }
    resize_map_panel();
  });
}

function download_summary() {
  $.ajax({
    url: "/api/summary/all", 
    success: function(result){
      console.log(result);
      $("#participants").html(result.participants);
      $("#parking_slots").html(result.parking_slots);
    }
  });
  
}

// function subscribe_to_sparkee() {
//     $.ajax({
//       url: "/api/subscribe/parking_availability/near/"+ DEFAULT_POSITION_LON +"/" + DEFAULT_POSITION_LAT + "/" + LOCAL_UUID, 
//       success: function(result){
//         console.log("Hasil Subscribe");
//         console.log(result);
//         // $("#div1").html(result);
//       }
//     });

// }

// function download_parking_slots_coordinates() {
//   $.ajax({
//     url: "/api/parking_slots/near/"+ DEFAULT_POSITION_LON +"/" + DEFAULT_POSITION_LAT, 
//     success: function(result){
//       result.forEach(function(item) {
//         plot_realtime(item.lattitude, item.longitude);
//       });
//     }
//   });
  
// }

function resize_map_panel() {
  var width = $( "#content" ).width();
  var height = $( "#content" ).height() - 100;

  $("#mapid").css("width", width );
  $("#mapid").css("height", height );
}


</script>

<style>
  .box {
      position: absolute;
      right: 20px;
      top: 160px;
      z-index: 1000;
  }
</style>

<script>

function loop_every_parking_slots(json_arr) {
  json_arr.forEach(function(item) {  
    plot_realtime(item.latitude, item.longitude, item.status, item.ts_update);
  });
}

function plot_realtime(lat, lon, status, ts_update) {
  
  // TODO: ts_update should be displayed when the bubbel clicked
  var tmp_icon = null;
  switch(status) {
    case -3:
      tmp_icon = confirmed_unavailable;
      break;
    case -2:
      tmp_icon = unconfirmed_minus_2;
      break;
    case -1:
      tmp_icon = unconfirmed_minus_1;
      break;
    case 0:
      tmp_icon = unconfirmed_0;
      break;
    case 1:
      tmp_icon = unconfirmed_plus_1;
      break;
    case 2:
      tmp_icon = unconfirmed_plus_2;
      break;
    case 3:
      tmp_icon = confirmed_available;
      break;
  }

  L.marker([lat, lon], {icon: tmp_icon} ).addTo(mymap).openPopup();
}


var ws = new WebSocket('ws://ec2-3-133-91-181.us-east-2.compute.amazonaws.com:15674/ws');
var client = Stomp.over(ws);

var on_connect = function() {
    console.log('connected');

    subs_time = client.subscribe('/topic/time', function(d) {
      console.log(d.body);
      $("#date_time").text(d.body);
    });

    subscribe_all_zone = client.subscribe('/topic/zone.*', function(d) {
      json_arr = JSON.parse(d.body);
      if(json_arr.type == 'parking_slots')
        loop_every_parking_slots(json_arr.payload);
      else if(json_arr.type == 'participant_credit')
        console.log("TODO: Implement Participant Credit");

    });

    // SEND SUBSCRIPTION REQUEST
    registration_obj = {
      'action': 'participant_location', 
      'device_uuid': LOCAL_UUID, 
      'device_type': 'web',
      'long': DEFAULT_POSITION_LON,
      'lat': DEFAULT_POSITION_LAT,
      'msg' : 'New Web Session'
    };

    client.send('/topic/PARTICIPANT_TO_SERVER', null, JSON.stringify(registration_obj));
};

var on_error =  function() {
    console.log('error');
};

client.connect('mobile', 'ieGh4thi', on_connect, on_error, '/');

</script>

</html>
